[Desktop Entry]
Type=Application
Name=Armory (Offline-mode)
GenericName=Protoshares Client
Comment=Full-featured Protoshares wallet management application
Categories=Qt;Network;
Exec=python /usr/lib/armory/ArmoryQt.py --offline
Icon=armoryicon
StartupNotify=false
Terminal=false
