[Desktop Entry]
Type=Application
Name=Armory (Testnet)
GenericName=Protoshares Client
Comment=Full-featured Protoshares wallet management application
Categories=Qt;Network;
Exec=python /usr/lib/armory/ArmoryQt.py --testnet
Icon=armorytestneticon
StartupNotify=false
Terminal=false
